<div id=":1al" class="a3s aXjCH msg-4694047623111902837" role="gridcell" tabindex="-1"><u></u>
  <div style="Margin:0;background:#ffffff!important;box-sizing:border-box;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important">
    <span class="m_-4694047623111902837preheader" style="color:#ececec;display:none!important;font-size:1px;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden"></span>
    <table class="m_-4694047623111902837body" style="Margin:0;background:#ffffff!important;border-collapse:collapse;border-spacing:0;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;height:100%;line-height:24px;margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
      <tbody>
        <tr style="padding:0;text-align:left;vertical-align:top">
          <td class="m_-4694047623111902837center" align="center" valign="top" style="Margin:0;border-collapse:collapse!important;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
            <center style="min-width:574px;width:100%">
              <table align="center" class="m_-4694047623111902837container m_-4694047623111902837float-center"
                style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:574px">
                <tbody>
                  <tr style="padding:0;text-align:left;vertical-align:top">
                    <td style="Margin:0;border-collapse:collapse!important;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                      <table class="m_-4694047623111902837spacer m_-4694047623111902837header__top-spacer"
                        style="border-collapse:collapse;border-spacing:0;height:40px;padding:0;text-align:left;vertical-align:top;width:100%">
                        <tbody>
                          <tr style="padding:0;text-align:left;vertical-align:top">
                            <td height="16px" style="Margin:0;border-collapse:collapse!important;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:16px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                      <table class="m_-4694047623111902837row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%">
                        <tbody>
                          <tr style="padding:0;text-align:left;vertical-align:top">
                            <th class="m_-4694047623111902837columns m_-4694047623111902837first m_-4694047623111902837last m_-4694047623111902837large-12 m_-4694047623111902837small-12"
                              style="Margin:0 auto;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:574px">
                              <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                <tbody>
                                  <tr style="padding:0;text-align:left;vertical-align:top">
                                    <th style="Margin:0;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0;padding:0;text-align:left">
                                      <center style="min-width:542px;width:100%">
                                        <span align="center" class="m_-4694047623111902837float-center"
                                          style="Margin:0;color:#1ea2d5;font-family:Arial,sans-serif;font-weight:normal;line-height:24px;margin:0;padding:0;text-align:left;text-decoration:none">
                                          <a href="javascript:void(0)">
                                            <strong
                                              class="m_-4694047623111902837logo m_-4694047623111902837text-center CToWUd"
                                              style="Margin:0 auto;border:none;clear:both;display:inline;float:none;margin:0 auto;max-width:150px;outline:none;text-align:center;text-decoration:none;width:auto;height:auto"
                                            >
                                              Fund That Flip
                                            </strong>
                                          </a>
                                        </span>
                                      </center>
                                    </th>
                                    <th class="m_-4694047623111902837expander"
                                      style="Margin:0;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0;padding:0!important;text-align:left;width:0"></th>
                                  </tr>
                                </tbody>
                              </table>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                      <table class="m_-4694047623111902837spacer m_-4694047623111902837header__bottom-spacer"
                        style="border-collapse:collapse;border-spacing:0;height:40px;padding:0;text-align:left;vertical-align:top;width:100%">
                        <tbody>
                          <tr style="padding:0;text-align:left;vertical-align:top">
                            <td height="16px" style="Margin:0;border-collapse:collapse!important;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:16px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table align="center" class="m_-4694047623111902837container m_-4694047623111902837float-center"
                style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:574px">
                <tbody>
                  <tr style="padding:0;text-align:left;vertical-align:top">
                    <td style="Margin:0;border-collapse:collapse!important;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                      <table class="m_-4694047623111902837row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:left;vertical-align:top;width:100%">
                        <tbody>
                          <tr style="padding:0;text-align:left;vertical-align:top">
                            <th class="m_-4694047623111902837columns m_-4694047623111902837first m_-4694047623111902837last m_-4694047623111902837large-12 m_-4694047623111902837small-12"
                              style="Margin:0 auto;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:574px">
                              <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                <tbody>
                                  <tr style="padding:0;text-align:left;vertical-align:top">
                                    <th class="m_-4694047623111902837main-content"
                                      style="Margin:0;border:1px solid #e6e6e6;border-radius:3px;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0;padding:0;text-align:left">
                                      <center class="m_-4694047623111902837notification m_-4694047623111902837fallback-font"
                                        style="font-family:proxima-nova-bold,Arial,sans-serif;color:#1a1a1a;font-size:22px;font-weight:700;min-width:542px;width:100%">
                                        <table class="m_-4694047623111902837spacer m_-4694047623111902837notification__spacer-top m_-4694047623111902837float-center"
                                          style="Margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;height:30px;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:100%">
                                          <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                              <td height="30px" style="Margin:0;border-collapse:collapse!important;color:#1a1a1a;font-family:Arial,sans-serif;font-size:30px;font-weight:normal;line-height:30px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <img src="https://ci3.googleusercontent.com/proxy/iDvcoi-F0K40jq0M7tXWT1x7uwALYq19Ld_-WNtlkYTngfIqnqA7O9OdPoVXtuxCrx94a1X_ByO2QnDlxny04S8IIlMWQGrNBuueVIyxlcM74W2wumlr6EGKl6vr6OJ9LzJkdwY_dmoXjg=s0-d-e1-ft#https://dyn550zzd47ox.cloudfront.net/1.63.0/css/images/2016_email/signature-gray-2x.png"
                                          align="center" class="m_-4694047623111902837float-center CToWUd"
                                          width="48px" style="Margin:0 auto;clear:both;display:block;float:none;margin:0 auto;max-width:100%;outline:none;text-align:center;text-decoration:none;width:48px">
                                        <table class="m_-4694047623111902837spacer m_-4694047623111902837float-center"
                                          style="Margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:100%">
                                          <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                              <td height="20px" style="Margin:0;border-collapse:collapse!important;color:#1a1a1a;font-family:Arial,sans-serif;font-size:20px;font-weight:normal;line-height:20px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        <table class="m_-4694047623111902837row m_-4694047623111902837collapse"
                                          style="border-collapse:collapse;border-spacing:0;display:table;padding:0;text-align:center;vertical-align:top;width:100%">
                                          <tbody>
                                            <tr style="padding:0;text-align:left;vertical-align:top">
                                              <th width="35" class="m_-4694047623111902837padder"
                                                style="Margin:0;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0;padding:0;text-align:left;width:35px!important"><img
                                                  src="https://ci5.googleusercontent.com/proxy/8aynlFKYxmRtMXtirK1_rIgrv_Vmte8ys4y3STpsDiltd9rnJ0-mzFQuMtkXJ-ZTZHH_fYYeGGCwV7cvZBq0Ots0Vt4ckjdR7Xk0BRwwkLF5Jnv9zSjazTixChc=s0-d-e1-ft#https://dyn550zzd47ox.cloudfront.net/1.63.0/css/images/2016_email/1x1.png"
                                                  style="clear:both;display:block;max-width:100%;outline:none;text-decoration:none;width:auto"
                                                  class="CToWUd"></th>
                                              <th style="text-align:center">
                                                Heads up, you've got a
                                                document to sign </th>
                                              <th width="35" class="m_-4694047623111902837padder"
                                                style="Margin:0;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0;padding:0;text-align:left;width:35px!important"><img
                                                  src="https://ci5.googleusercontent.com/proxy/8aynlFKYxmRtMXtirK1_rIgrv_Vmte8ys4y3STpsDiltd9rnJ0-mzFQuMtkXJ-ZTZHH_fYYeGGCwV7cvZBq0Ots0Vt4ckjdR7Xk0BRwwkLF5Jnv9zSjazTixChc=s0-d-e1-ft#https://dyn550zzd47ox.cloudfront.net/1.63.0/css/images/2016_email/1x1.png"
                                                  style="clear:both;display:block;max-width:100%;outline:none;text-decoration:none;width:auto"
                                                  class="CToWUd"></th>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </center>
                                      <table class="m_-4694047623111902837spacer"
                                        style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                          <tr style="padding:0;text-align:left;vertical-align:top">
                                            <td height="50px" style="Margin:0;border-collapse:collapse!important;color:#1a1a1a;font-family:Arial,sans-serif;font-size:50px;font-weight:normal;line-height:50px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td>
                                          </tr>
                                        </tbody>
                                      </table>

                                      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                          <tr style="padding:0;text-align:left;vertical-align:top">
                                            <th width="35" class="m_-4694047623111902837padder"
                                              style="Margin:0;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0;padding:0;text-align:left;width:35px!important">
                                              <img src="https://ci5.googleusercontent.com/proxy/8aynlFKYxmRtMXtirK1_rIgrv_Vmte8ys4y3STpsDiltd9rnJ0-mzFQuMtkXJ-ZTZHH_fYYeGGCwV7cvZBq0Ots0Vt4ckjdR7Xk0BRwwkLF5Jnv9zSjazTixChc=s0-d-e1-ft#https://dyn550zzd47ox.cloudfront.net/1.63.0/css/images/2016_email/1x1.png"
                                                style="clear:both;display:block;max-width:100%;outline:none;text-decoration:none;width:auto"
                                                class="CToWUd">
                                            </th>
                                            <th style="margin:0;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0;padding:0;text-align:left">
                                              <p>
                                                <span class="m_-4694047623111902837message"
                                                  style="color:#1a1a1a;font-family:proxima-nova-regular,Arial,sans-serif;font-size:16px;line-height:24px;font-weight:400;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                  You have been requested to sign a document in our website. </span>
                                              </p>

                                              <p class="m_-4694047623111902837subhead"
                                                style="Margin:0;Margin-bottom:10px;color:#1a1a1a;font-family:proxima-nova-semibold,Arial,sans-serif;font-size:12px;font-weight:600;line-height:12px;letter-spacing:0.3px;margin:0;margin-bottom:10px;padding:0;text-align:left;text-transform:uppercase">
                                                Signers
                                              </p>
                                              <% @parties.each do |party| %>
                                                <p class="m_-4694047623111902837signer"
                                                  style="color:#1a1a1a;font-family:proxima-nova-regular,Arial,sans-serif;font-size:16px;line-height:24px;font-weight:400;margin:0;margin-bottom:10px;margin:0;margin-bottom:0px;padding:0;text-align:left"
                                                >
                                                <% if @targetEmail == party[:email] %>
                                                  <%= party[:order].to_i + 1 %>. You
                                                <% else %>
                                                  <%= party[:order].to_i + 1 %>. <%= party[:name] %> (<a
                                                    href="<%= "mailto:#{party[:email]}" %>"
                                                    target="_blank"><%= party[:email] %></a>)
                                                <% end %>
                                              </p>
                                              <% end %>

                                              <p>
                                                <span class="m_-4694047623111902837message"
                                                  style="color:#1a1a1a;font-family:proxima-nova-regular,Arial,sans-serif;font-size:16px;line-height:24px;font-weight:400;margin:0;margin-bottom:10px;margin:0;margin-bottom:10px;padding:0;text-align:left">
                                                  <strong>Click </strong>
                                                  <a href="<%= @link %>">here</a>
                                                  <strong> to sign</strong>
                                                </span>
                                              </p>
                                            </th>
                                            <th width="35" class="m_-4694047623111902837padder"
                                              style="Margin:0;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0;padding:0;text-align:left;width:35px!important">
                                              <img src="https://ci5.googleusercontent.com/proxy/8aynlFKYxmRtMXtirK1_rIgrv_Vmte8ys4y3STpsDiltd9rnJ0-mzFQuMtkXJ-ZTZHH_fYYeGGCwV7cvZBq0Ots0Vt4ckjdR7Xk0BRwwkLF5Jnv9zSjazTixChc=s0-d-e1-ft#https://dyn550zzd47ox.cloudfront.net/1.63.0/css/images/2016_email/1x1.png"
                                                style="clear:both;display:block;max-width:100%;outline:none;text-decoration:none;width:auto"
                                                class="CToWUd">
                                            </th>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table class="m_-4694047623111902837spacer"
                                        style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                          <tr style="padding:0;text-align:left;vertical-align:top">
                                            <td height="20px" style="Margin:0;border-collapse:collapse!important;color:#1a1a1a;font-family:Arial,sans-serif;font-size:20px;font-weight:normal;line-height:20px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                          <tr style="padding:0;text-align:left;vertical-align:top">
                                            <th style="Margin:0;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0;padding:0;text-align:left">
                                              <center style="margin:0 auto 0 auto;max-width:168px;width:100%">
                                                <strong
                                                  class="m_-4694047623111902837float-center CToWUd"
                                                  style="Margin:0 auto;clear:both;display:block;float:none;margin:0 auto;max-width:100%;outline:none;text-align:center;text-decoration:none;width:auto"
                                                >
                                                  The Fund That Flip Team
                                                </strong>
                                              </center>
                                            </th>
                                            <th style="Margin:0;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0;padding:0;text-align:left">
                                            </th>
                                          </tr>
                                        </tbody>
                                      </table>
                                      <table class="m_-4694047623111902837spacer"
                                        style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
                                        <tbody>
                                          <tr style="padding:0;text-align:left;vertical-align:top">
                                            <td height="50px" style="Margin:0;border-collapse:collapse!important;color:#1a1a1a;font-family:Arial,sans-serif;font-size:50px;font-weight:normal;line-height:50px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">&nbsp;</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </th>
                                    <th class="m_-4694047623111902837expander"
                                      style="Margin:0;color:#1a1a1a;font-family:Arial,sans-serif;font-size:16px;font-weight:normal;line-height:24px;margin:0;padding:0!important;text-align:left;width:0"></th>
                                  </tr>
                                </tbody>
                              </table>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>

            </center>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="yj6qo"></div>
    <div class="adL">

    </div>
    <div style="display:none;white-space:nowrap;font:15px courier;line-height:0" class="adL"> &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
    <div class="adL">
    </div>
  </div>
  <div class="adL">
  </div>
</div>