<div class="row p-4">
  <div class="col-6">
    <div class="text-center">
      <h3>Select A Template <span class="badge badge-secondary"><%= @templates.length %></span></h3>
    </div>
    <div class="list-group">
      <% @templates.each do |thisTemplate| %>
        <a 
          href="javascript:void(0)" 
          class="list-group-item list-group-item-action flex-column align-items-start"
          onClick="getTemplate('<%= thisTemplate[:template_id] %>', '<%= @thisDeal[:deal_id] %>')"
        >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= thisTemplate[:title] %></h5>
            <small>Total Signers: <%= thisTemplate[:signer_roles].length %></small>
          </div>
          <p class="mb-1"><%= thisTemplate[:message] %></p>
          <div class="d-flex w-100 justify-content-evenly">
            <strong>Signers:</strong>&nbsp;&nbsp;
            <span>
              <%= thisTemplate[:signer_roles]
                .map{|d| d["name"]}
                .join(", ") 
              %>
            </span>
          </div>
          <small>
            <%= thisTemplate[:documents]
              .map{|d| d["name"]}
              .join(", ") 
            %>
          </small>
        </a>
      <% end %>
    </div>
  </div>
  <br />
  <br />
  <div class="col-6" id="stats-container">
    <div class="w-100 p-5">
      <h4>Contracts:</h4>
      <% if @contracts.length > 0 %>
        <% @contracts.each.with_index do |thisContract, index| %>
          <div class="card" style="width: 40rem;">
            <div class="card-body">
              <h5 class="card-title"><%= "##{index + 1} #{thisContract.name}" %></h5>
              <% thisContract.parties.each do |thisParty| %>
                <h6 class="card-subtitle mb-2 text-muted">
                  <p>Role: <%= thisParty["name"] %></p>
                  <p>Email: <%= thisParty["email"] %></p>
                  <% if thisParty["is_pending_signature"] %>
                    <span class="red">Pending Signature</span>
                  <% else %>
                    <span class="green">Signed at <%= thisParty["signed_at"] %></span>
                  <% end %>
                </h6>
                <a href="javascript:void(0)" class="card-link">View Signed Document</a>
                <br />
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>You have not created any contracts for this deal</p>
      <% end %>
    </div>
  </div>
</div>
<div class="row p-4" id="form-container">
</div>

