<div class="col-12">
  <form id="initiate_signing_form" action="/documents" method="post">
    <%
      submitText = proc {
        if @deal["stats"]
          'Resend'
        else
          'Submit'
        end
      }.call
    %>
    <button type="submit" class="btn btn-primary"><%= submitText %></button>
    <br />
    <input type="text" hidden name="template_id" value="<%= @target_template["template_id"] %>">
    <input type="text" hidden name="client_deal_id" value="<%= @deal["client_deal_id"] %>">
    
    <div class="card row">
      <h5 class="card-title">Signer Roles</h5>
      <div class="row">
      <% @target_template["signer_roles"].each do |signer_role| %>
        <% 
          signerEmail = proc {
            if @deal_params[signer_role.data["name"]]
            @deal_params[signer_role.data["name"]]
            else
              ''
            end
          }.call
        %>
        <div class="col-md-6">
          <div class="form-group">
            <label><%= signer_role.data["name"] %> Email:</label>
            <input
              type="text"
              class="form-control"
              required="true"
              readonly="true"
              name="signer_roles[<%= signer_role.data["order"] %>]"
              value="<%= signerEmail %>" />
            <div class="form-check">
              <label class="form-check-label" style="display:none">
                <input 
                  type="checkbox"
                  class="form-check-input"
                  value="true" 
                  <%=  signer_role.data["name"] == "Borrower" ? "checked":""%>
                  name="signer_roles_pay[<%= signer_role.data["order"] %>]"
                >Is Payee
              </label>
            </div>
          </div>
        </div>
      <% end %>
        </div>
    </div>
    <div class="card">
      <% if @target_template["custom_fields"].count > 0 %>
        <h5>Custom Fields</h5>
      <% end %>
      <div class="row">
      <% @target_template["custom_fields"].each do |customField| %>
        <% value = proc {
          if @deal_params[customField.data["name"]]
            @deal_params[customField.data["name"]]
          else
            ''
          end
        }.call %>
        <div class=" col-md-6">
        <div class="form-group">
          <label><%= customField.data["name"] %>:</label>
          <input 
            type="text"
            class="form-control"
            required="true"
            readonly="true"
            name="deal_attributes[<%= customField.data["api_id"] %>]"
            value="<%= value %>"
          >
          <% if customField.data["name"] == "formatted_address" %>
          <input 
            type="hidden"
            class="form-control"
            required="true"
            readonly="true"
            name="formatted_address"
            value="<%= value %>"
          >
          <% end %>
        </div>
        </div>
      <% end %>
    </div>
    </div>
    <button type="submit" class="btn btn-primary"><%= submitText %></button>
  </form>
</div>
<script type="text/javascript">
  $(function() {
    $("form#initiate_signing_form").submit(function(e) {
      var i=0;
      $("input[type='text']").each(function(inp) {
        if ($(this).val().trim() === '') {
          $(this).css({
            'border': '2px solid #dd0000'
          });
          if (i == 0) {
            $('html, body').animate({scrollTop: $(this).offset().top - 50}, 2000);
            i += 1;
          }
        }
      });
      if (i == 0) {
        return;
      } else {
        e.preventDefault();
      }
    });
  });
</script>