<div class="row p-4">
  <div id="stats-container" style="width: 100%;">
    <ul class="nav nav-tabs" id="deal-details-tab" role="tablist">
      <li class="nav-item ">
        <a class="nav-link active" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true">Deal Attributes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " id="documents-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Documents Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " id="preview-tab" data-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Term Sheet Preview</a>
      </li>
    </ul>
    <div class="tab-content" id="deal-details-content">
      <div id="myHSContainer" style="overflow: scroll; pointer-events:none;"></div>
      <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab">
        <div id="document-container">
          <% if @deal.documents.length > 0 %>
            <% @deal.documents.reverse.each.with_index do |document, index| %>
              <%= render '/documents/document_status', :document => document, :index => index, :total_documents => @deal.documents.length %>
            <% end %>
          <% else %>
            <p>You have not created any documents for this deal</p>
          <% end %>          
        </div>
      </div>
      <div class="tab-pane fade show active" id="form" role="tabpanel" aria-labelledby="form-tab">
        <div class="row p-4" id="form-container"></div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://s3.amazonaws.com/cdn.hellosign.com/public/js/hellosign-embedded.LATEST.min.js"></script>
<script type="text/javascript">
  $(function () {
    getTemplate('<%= @deal_params["template_id"] %>', '<%= @deal[:client_deal_id] %>');
  });

  const container = document.getElementById('document-container');
  const preview = document.getElementById('preview-tab');
  $(preview).click(function (event) {
    HelloSign.init('<%= Rails.application.credentials[Rails.env.to_sym][:HELLO_SIGN_CLIENT_ID] %>');
    HelloSign.open({
      url: '<%= @preview_url %>',
      skipDomainVerification: true,
      "container": document.getElementById('myHSContainer'),
      "height": 4500
    });
  });

</script>