<% if @documents.length > 0 %>
  <% @documents.reverse.each.with_index do |document, index| %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= "##{@documents.length - index} #{document.createdAt.strftime("%b, %d, %H:%M:%S")}"%></h5>
        <% document.parties.each do |party| %>
          <div class="card-subtitle mb-4 text-muted">
            <p>Role: <%= party["name"] %> (<% if party["is_pending_signature"] %>
              <span class="red">Pending Signature</span>
            <% else %>
              <span class="green">Signed at <%= party["signed_at"].strftime("%m/%d/%Y %H:%M") %></span>
            <% end %>)</p>
            <p>Email: <%= party["email"] %></p>
          </div>
        <% end %>
        <%= link_to "Download Signed Document", ("/" + document.parties[0]["signature_request_id"] + ".pdf"), target: "_blank" unless !document.complete %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>You have not created any documents for this deal</p>
<% end %>